Flask==0.11.1
MarkupSafe==0.23
Werkzeug==0.11.10
click==6.6
gunicorn==19.6.0
itsdangerous==0.24
requests==2.10.0
wsgiref==0.1.2
pyowm
absl-py==0.6.1
asn1crypto==0.24.0
astor==0.7.1
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.6.3
bleach==3.0.2
certifi==2018.8.24
chardet==3.0.4
configparser==3.5.0
contextlib2==0.5.5
cryptography==2.1.4
cycler==0.10.0
Cython==0.29
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
enum34==1.1.6
fann2==1.0.7
fbchat==1.4.0
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gast==0.2.0
grpcio==1.16.0
h5py==2.8.0
html5lib==0.999999999
idna==2.6
inflect==1.0.1
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jaraco.itertools==2.5.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.0.1
lxml==4.2.1
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.2.3
mistune==0.8.4
mock==2.0.0
more-itertools==4.3.0
nbconvert==5.4.0
nbformat==4.4.0
nltk==3.3
notebook==5.7.0
numpy==1.15.3
olefile==0.45.1
padaos==0.1.7
padatious==0.4.5
pandas==0.23.4
pandocfilters==1.4.2
pathlib2==2.3.2
pbr==5.1.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.1.0
prometheus-client==0.4.2
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
PyAudio==0.2.11
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.3.0
python-dateutil==2.7.5
pyttsx==1.1
pytz==2018.7
pyxdg==0.25
pyzmq==17.1.2
qtconsole==4.4.2
requests==2.19.1
scandir==1.9.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.5.3
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wolframalpha==3.0.1
xmltodict==0.11.0
xxhash==1.2.0
